doctype html

html
	head
		title AList Manager
		link(rel="stylesheet" type="text/css" href="am.css")
		script(src='jquery-3.1.0.js').
		script(type="text/javascript").
			const bs_name = [null,'萎縮','放心','硬直','惑乱','衰弱','重篤','慢心','追擊'];
			const cs_name = [null,'再生','輕減','障壁'];
			var adatas = [];
			$(document).ready(function(){
				$.post('./alist/a',function(data){
					console.log(data);
					adatas = data;
					loadEdatas();
				});
				if(!!window.EventSource)
				source = new EventSource('/sse/a');
				//listener source url
				source.onopen = function(){
					console.log('eventsource on open');
				};
				source.onmessage = function(re) {
					//console.log(re);
					console.log("/sse/a/ on message");
					var data = JSON.parse(re.data);
					//console.log(re);
					adatas = data.a;
					loadEdatas();
				};
			});
			function add(){
				var type = $('#s_new_type').val();
				var id = $('#i_new_id').val();
				if(id=="" || id == undefined){alert('Please enter ID');return;}
				$.post('/add/'+type+'/'+id);
			}
			function minus(x){
				alert(x);
				$.post('/remove/alid/'+x,{type:adatas[x].type});
			}
			function loadEdatas(){
				for(var x = 0;x<adatas.length;x++){
					loadEdata(x);
					$('#cont_'+x).removeClass('unload');
					$('#cont2_'+x).removeClass('unload');
					
				}
				for(var x = adatas.length;x<24;x++){
					$('#cont_'+x).addClass('unload');
					$('#cont2_'+x).addClass('unload');
				}
			}
			function loadEdata(x){
				var adata = adatas[x];
				var data = adatas[x].data;
				$('#f_name_'+x).val(adata.name);
				$('#f_action_'+x).val(adata.action);
				$('#f_type_'+x).val(adata.type+adata.lid);
				$('#f_status_'+x).val(adata.status);
				if(adata.type=='c'){
					$('#f_hate_'+x).val(adata.hate);
					$('#f_fatique_'+x).val(adata.fatique);
				} else {
					$('#f_hate_'+x).prop('disabled',true);
					$('#f_fatique_'+x).prop('disabled',true);
				}
				$('#f_effect_'+x).val(adata.effect);
				$('#f_HP_'+x).val(adata.hp);
				$('#f_MAX_HP_'+x).val(data.max_hitpoint);
				
				if(adata.bs[1] == 1)$('#f_BS1_'+x).addClass('backred');
				else $('#f_BS1_'+x).removeClass('backred');
				if(adata.bs[2] == 1)$('#f_BS2_'+x).addClass('backred');
				else $('#f_BS2_'+x).removeClass('backred');
				if(adata.bs[3] == 1)$('#f_BS3_'+x).addClass('backred');
				else $('#f_BS3_'+x).removeClass('backred');
				if(adata.bs[4] == 1)$('#f_BS4_'+x).addClass('backred');
				else $('#f_BS4_'+x).removeClass('backred');
				if(adata.bs[6] == 1)$('#f_BS6_'+x).addClass('backred');
				else $('#f_BS6_'+x).removeClass('backred');
				if(adata.bs[7] == 1)$('#f_BS7_'+x).addClass('backred');
				else $('#f_BS7_'+x).removeClass('backred');
				
				if(adata.bs[5] != 0){
					$('#f_BS5_'+x).addClass('backred');
					$('#f_BS5_'+x).text(bs_name[5]+':'+adata.bs[5]);
				} else {
					$('#f_BS5_'+x).removeClass('backred');
					$('#f_BS5_'+x).text(bs_name[5]);
				}
				if(adata.bs[8].length > 0){
					$('#f_BS8_'+x).addClass('backred');
					$('#f_BS8_'+x).text(bs_name[8]+':'+Math.max.apply(null,adata.bs[8]));
				} else {
					$('#f_BS8_'+x).removeClass('backred');
					$('#f_BS8_'+x).text(bs_name[8]);
				}
				
			}
			function sort_id(){
			//$('div.f_container:not(.unload)').attr('id')
			}
			function sort_action(){
				
			}
	body
		div
			|add
			select(id='s_new_type')
				option(value='c').
					Character
				option(value='e').
					Enemy
			input(type='text' id='i_new_id').value
			button(onClick='add()').
				ADD
			button(onClick='sort_id()').
				Sort by ID
			button(onClick='sort_action()').
				Sort by Action
		- for(var x = 0;x<24;x++)
			div(id='cont_'+x).unload.display.f_container
				table
					tr
						td
							|ID
						td
							|T
						td
							|Name
						td
							|A
						td
							|F
						td
							|H
						td
							|E
						td
							|HP
					tr
						td
							label(id=x).id.
								yolo
							label(id=(x+1)).id.
								#{x}
						td
							input(id='f_type_'+x disabled).shortvalue
						td
							input(id='f_name_'+x disabled).longvalue
						td
							input(id='f_action_'+x disabled).shortvalue
						td
							button.mini.
								+
							input(id='f_fatique_'+x).shortvalue
							button.mini.
								-
						td
							button.mini.
								+
							input(id='f_hate_'+x).shortvalue
							button.mini.
								-
						td
							button.mini.
								+
							input(id='f_effect_'+x).shortvalue
							button.mini.
								-
						td
							input(id='f_HP_'+x).shortvalue
							|/
							input(id='f_MAX_HP_'+x disabled).shortvalue
						td
							button(onClick='minus('+x+')').
								Delete
				table
					tr
						td
							|時
						td.display
							input(type="radio" value="B" name="toki"+x id="f_toki_B_"+x)
							label(for="f_toki_B_"+x).
								未
						td.display
							input(type="radio" value="W" name="toki"+x id="f_toki_W_"+x)
							label(for="f_toki_W_"+x).
								待
						td.display
							input(type="radio" value="F" name="toki"+x id="f_toki_F_"+x)
							label(for="f_toki_F_"+x).
								済
						
					tr
						td
							|BS
						td(id='f_BS1_'+x)
							|萎縮
						td(id='f_BS2_'+x)
							|放心
						td(id='f_BS3_'+x)
							|硬直
						td(id='f_BS4_'+x)
							|惑乱
						td(id='f_BS5_'+x)
							|衰弱
						td(id='f_BS6_'+x)
							|重篤
						td(id='f_BS7_'+x)
							|慢心
						td(id='f_BS8_'+x)
							|追擊
					tr
						td
							|CS
						td(id='f_CS1_'+x)
							|再生
						td(id='f_CS3_'+x)
							|障壁