/*Element Setting*/
tr td {
	border:0;
	text-align:center;
	padding:0;
}
input{
	height:10px;
}
/*Class Setting*/

div.container {
	display: inline-block;
}
button.mini{
	width: 10px;
	border: 1px;
	padding: 0px;
}
table.value{
	width: 100%;
	padding: 0px;
	border: 0px;
}
textarea.cs2{
	width: 99%;
	height: 100px;
	padding: 0px;
}
/*Switch related settings*/
td.switch{
	padding: 0px 0px 0px 0px;
	
}
.switch {
  position: relative;
  display: inline-block;
  width: 33px;
  height: 40px;
  left: 2;
}

input.switch{display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  padding-top: 2px;
  line-height: 135%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 33px;
  background-color: #212121;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
  font-size: 14px;
  text-align: center;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 30px;
  top: 2px;
  left: 1px;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
tr.lock{
	height: 42px !important;
}
input:checked + .slider.green {
  background-color: #21F321;
}

input:checked + .slider.blue {
  background-color: #2121F3;
}

input:checked + .slider.red {
  background-color: #F32121;
}

input:checked + .slider:before {
  -webkit-transform: translateY(20px);
  -ms-transform: translateY(20px);
  transform: translateY(20px);
}
button.mini{
	width: 10px;
	border: 1px;
	padding: 0px;
}
input[type='radio']{
	display:none;
	height:0px;
	width:0px;
}
input:checked + label{
	background-color: #AAD;
	width:100%;
}
tr.fixedwidth td{
	width:50px;
}
tr.fixedwidth2 td{
	width: 30px;
}
tr.fixedwidth3 td{
	width: 64px;
}