doctype html

html
	head
		title EnemyController
		link(rel="stylesheet" type="text/css" href="common.css")
		link(rel="stylesheet" type="text/css" href="controller.css")
		script(src='jquery-3.1.0.js').
		script(type="text/javascript").
			const c_effects = {fire:'火炎',ice:'冷気',shock:'電撃',light:'光輝',dark:'邪毒',san:'精神',near:'白兵攻撃',far:'射撃攻撃',weapon:'武器攻撃',magic:'魔法攻撃',special:'特殊攻撃'};
			var adatas = [];
			//var edatas = [];
			var showid = 0;
			$(document).ready(function(){
				$.post('./alist/e',function(data){
					console.log(data);
					adatas = data;
					loadEdatas();
				});
				$('td.clickable').click(function(){
					var a = $(this).attr('id').substr(2,5);
					var s = a.substr(0,2).toLowerCase();
					var n = a.substr(2,1);
					var x = a.substr(4,1);
					adatas[x][s][n] ^= 1;
					updateAlistToServer(x,s+n);
				});
			});
			if(!!window.EventSource)
				source = new EventSource('/sse/ae');
			//listener source url
			source.onopen = function(){
				console.log('eventsource on open');
			};
			source.onmessage = function(re) {
				//console.log(re);
				console.log("/sse/ae/ on message");
				var data = JSON.parse(re.data);
				//console.log(re);
				adatas = data.a;
				loadEdatas();
			};
			window.onunload = function(){
				//source.close();
			};
			function loadEdatas(){
				for(var x = 0;x<adatas.length;x++){
					loadEdata(x);
					$('#cont'+x).removeClass('unload');
				}
				for(var x = adatas.length;x<12;x++){
					$('#cont'+x).addClass('unload');
				}
			}
			function loadEdata(x){
				//constant enemy data
				var adata = adatas[x];
				var data = adatas[x].data;
				if(adatas[x].ls[3] == 1 ||adatas[x].ls[4] == 1){
					$('#cont'+x).addClass('backblack');
					return;
				} else {
					$('#cont'+x).removeClass('backblack');
				}
				$('#e_name_'+x).val(data.name);
				$('#e_max_hp_'+x).val(data.max_hitpoint);
				$('#e_CR_'+x).val(data.character_rank);
				$('#e_lid_'+x).val(adata.type+adata.lid);
				$('#e_tags_'+x).val(data.tags.toString());
				$('#e_action_'+x).val(data.action);
				$('#e_move_'+x).val(data.move);
				$('#e_hate_'+x).val(data.hate+"x");
				$('#e_pdef_'+x).val(data.physical_defense);
				$('#e_mdef_'+x).val(data.magic_defense);
				$('#e_avoid_'+x).val(data.abl_avoid);
				$('#e_resist_'+x).val(data.abl_resist);
				//$('#e_str_'+x).val(data.str_value);
				//$('#e_dex_'+x).val(data.dex_value);
				//$('#e_pow_'+x).val(data.pow_value);
				//$('#e_int_'+x).val(data.int_value);
				//active data
				$('#e_hp_'+x).val(adata.hp);
				$('#e_effect_'+x).val(adata.effect);
				//console.log('loadEdata, bs1='+adata.bs[1]);
				if(adata.bs[1] == 1)$('#f_BS1_'+x).addClass('backred');
				else $('#f_BS1_'+x).removeClass('backred');
				if(adata.bs[2] == 1)$('#f_BS2_'+x).addClass('backred');
				else $('#f_BS2_'+x).removeClass('backred');
				if(adata.bs[3] == 1)$('#f_BS3_'+x).addClass('backred');
				else $('#f_BS3_'+x).removeClass('backred');
				if(adata.bs[4] == 1)$('#f_BS4_'+x).addClass('backred');
				else $('#f_BS4_'+x).removeClass('backred');
				if(adata.bs[6] == 1)$('#f_BS6_'+x).addClass('backred');
				else $('#f_BS6_'+x).removeClass('backred');
				if(adata.bs[7] == 1)$('#f_BS7_'+x).addClass('backred');
				else $('#f_BS7_'+x).removeClass('backred');
				$('#e_bs5_'+x).val(adata.bs[5]);

				show_bs8(x);
				$('#e_cs1_'+x).val(adata.cs[1]);
				$('#e_cs3_'+x).val(adata.cs[3]);
				$('#e_cs2_'+x).val('');
				for(var i = 0;i<adata.cs[2].length;i++){
					//alert(i);
					$('#e_cs2_'+x).val($('#e_cs2_'+x).val()+'('+c_effects[adata.cs[2][i].type]+'):'+adata.cs[2][i].value+'/');
				}
				
				
			}
			function effect_add(x){
				adatas[x].effect++;
				updateAlistToServer(x,'effect');
			}
			function effect_minus(x){
				adatas[x].effect--;
				updateAlistToServer(x,'effect');
			}
			function hp_set(x){
				if(!/^\d+/.test($('#e_hp_'+x).val()))return;
				adatas[x].hp = $('#e_hp_'+x).val();
				updateAlistToServer(x,'hp');
			}
			function cleanup(x){
				console.log('cleanup_'+x);
				//var eff_bs5 = $('#e_bs5_'+x).val();
				//var eff_cs1 = $('#e_cs1_'+x).val();
				console.log('bs5='+adatas[x].bs[5]);
				adatas[x].hp = adatas[x].hp * 1 - adatas[x].bs[5] * 1 + adatas[x].cs[1] * 1;
				$('#e_hp_'+x).val(adatas[x].hp);
				updateAlistToServer(x,'hp');
				adatas[x].bs[5] = 0;
				$('#e_bs5_'+x).val(0);
				updateAlistToServer(x,'bs5');
			}
			function push_bs8(x){
				if($('#e_bs8_'+x).val() == ''||$('#e_bs8_'+x).val()<=0)return;
				else (adatas[x].bs[8]).push($('#e_bs8_'+x).val()*1);
				$('#e_bs8_'+x).val(0);
				show_bs8(x);
				updateAlistToServer(x,'bs8')
			}
			function pop_bs8(x){
				if((adatas[x].bs[8])===undefined||(adatas[x].bs[8]).length==0||!/^\d+/.test($('#e_bs8_'+x).val()))return;
				var eff = (adatas[x].bs[8]).shift();
				console.log(adatas[x].bs[8]);
				updateAlistToServer(x,'bs8');
				show_bs8(x);
				adatas[x].hp = adatas[x].hp * 1 - eff;
				$('#e_hp_'+x).val(adatas[x].hp);
				updateAlistToServer(x,'hp');
			}
			function show_bs8(x){//print bs8 array to textfield
				if(adatas[x].bs[8].length>0)(adatas[x].bs[8]).sort(function(a, b){return b-a});//descending order
				$('#e2_bs8_'+x).val((adatas[x].bs[8]).toString());
			}
			function esd(x){
				//prompt popup window
				window.open('./esd/'+adatas[x].id,'',"toolbar=0,menubar=0,status=0,resizable=0,width=300,height=500");
				//alert(eid);
			}
			function acs2(x){
				var lid = adatas[x].lid;
				var type = adatas[x].type;
				window.open('./acs2/'+adatas[x].type+'/'+adatas[x].lid+'/','',"location=0,toolbar=0,menubar=0,status=0,resizable=0,width=180,height=200");
			}
			function set_bs5(x){
				if(!/^\d+/.test($('#e_bs5_'+x).val()))return;
				adatas[x].bs[5] = $('#e_bs5_'+x).val();
				updateAlistToServer(x,'bs5');
			}
			function set_cs1(x){
				if(!/^\d+/.test($('#e_cs1_'+x).val()))return;
				adatas[x].cs[1] = $('#e_cs1_'+x).val();
				updateAlistToServer(x,'cs1');
			}
			function set_cs3(x){
				if(!/^\d+/.test($('#e_cs3_'+x).val()))return;
				adatas[x].cs[3] = $('#e_cs3_'+x).val();
				updateAlistToServer(x,'cs3');
			}
			
			function updateAlistToServer(x,item){
				var value;
				switch(item){
					case 'effect':
					case 'hp':
						//adatas[x][item] = $('#e_'+item+'_'+x).val()
						value = adatas[x][item];
					break;
					case 'bs1':
					case 'bs2':
					case 'bs3':
					case 'bs4':
					case 'bs6':
					case 'bs7':
					case 'bs8':
					case 'bs5':
						//console.log(adatas[x].bs[item.charAt(2)]);
						value = adatas[x].bs[item.charAt(2)];
						break;
					case 'cs3':
						value = adatas[x].cs[3];
					break;
					case 'cs1':
						value = adatas[x].cs[1];
				}
				//update alist
				console.log("update "+item+" "+value);
				
				$.post('./update/e/'+adatas[x].lid+'/',{item:item,value:value});
			}
	body
		br
		- for(var x=0;x<12;x++)
			div(id='cont'+x).display.container.unload
				div.item
					div.left
						|CR
						input(id='e_CR_'+x disabled type='text').shortvalue
						|LID 
						input(id='e_lid_'+x disabled type='text').shortvalue
					div.flex
					dlv.right
						input(id='e_name_'+x disabled type='text').longvalue.right
				div.item
					div
						|HP:
						input(id='e_hp_'+x type='text').shortvalue
						|/
						input(id='e_max_hp_'+x disabled type='text').shortvalue
						button(onClick='hp_set('+x+')').
							set
					div.flex
					div.right
						button(onClick='esd('+x+')').
							スキル
						button(onClick='cleanup('+x+')').
							クリンナップ
				input(id='e_tags_'+x disabled type='text').verylongvalue
				table
					tr.fixedwidth
						td(width='25%')
							|因果力
							br
							button.mini(onClick='effect_add('+x+')') +
							input(id='e_effect_'+x type='text').shortvalue
							button.mini(onClick='effect_minus('+x+')') -
						td(width='25%')
							|行動力
							br
							input(id='e_action_'+x disabled type='text').shortvalue
						td(width='25%')
							|移動力
							br
							input(id='e_move_'+x disabled type='text').shortvalue
						td(width='25%')
							|ヘイト
							br
							input(id='e_hate_'+x type='text' disabled).shortvalue
					tr.fixedwidth
						td
							|物理防御
							br
							input(id='e_pdef_'+x disabled type='text').shortvalue
						td
							|魔法防御
							br
							input(id='e_mdef_'+x disabled type='text').shortvalue
						td
							|回避値
							br
							input(id='e_avoid_'+x disabled type='text').value
						td
							|抵抗値
							br
							input(id='e_resist_'+x disabled type='text').value
				table
					tr.fixedwidth2
						td(id='f_BS1_'+x).clickable.display
							|萎縮
						td(id='f_BS2_'+x).clickable.display
							|放心
						td(id='f_BS3_'+x).clickable.display
							|硬直
						td(id='f_BS4_'+x).clickable.display
							|惑乱
						td(id='f_BS6_'+x).clickable.display
							|重篤
						td(id='f_BS7_'+x).clickable.display
							|慢心
				table
					tr.fixedwidth.border
						td
							|衰弱
							br
							input(type='text' id='e_bs5_'+x).shortvalue
							button(onClick='set_bs5('+x+')').
								set
						td
							|再生
							br
							input(type='text' id='e_cs1_'+x).shortvalue
							button(onClick='set_cs1('+x+')').
								set
						td
							|障壁
							br
							input(type='text' id='e_cs3_'+x).shortvalue
							button(onClick='set_cs3('+x+')').
								set
						td
							button(onClick='acs2('+x+')').
								輕減
					tr
						td(colspan=6)
							|追擊
							input(type='text' id='e_bs8_'+x).shortvalue
							button(onClick='push_bs8('+x+')').mini.
								+
							input(type='text' disabled id='e2_bs8_'+x).quitelongvalue
							button(onClick='pop_bs8('+x+')').mini.
								-
				textarea(type='text' disabled id='e_cs2_'+x).cs2